* * * * * root  /root/Env/cpamaster/bin/python /var/www/html/cpamaster/manage.py sub >> /dev/null 2>&1
*/10 * * * * root  /root/Env/cpamaster/bin/python /var/www/html/cpamaster/manage.py clear >> /dev/null 2>&1
0 * * * * root  /root/Env/cpamaster/bin/python /var/www/html/cpamaster/manage.py delete_offer >> /dev/null 2>&1